OOPS

In [7]:
class Person:
    pass

john_doe = Person()
john_doe.name = "AYAN"
john_doe.surname = "Mohd"
john_doe.year_of_birth = 2004


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x000001476D7567C0>
AYAN Mohd was born in 2004.

In [9]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [10]:
alec = Person("AYAN", "Mohd", 2004)
print(alec)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

<__main__.Person object at 0x000001476D756E20>
AYAN Mohd was born in 2004

In [14]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("AYAN", "Mohd", 2004)
print(alec)
print(alec.age(2020))

AYAN Mohd was born in 2004 .
16

In [15]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'T', 'F', 1995)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

T F was born in 1995 .
<class '__main__.Student'>
True
True

In [16]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'T', 'F', 1995)
print(charlie)

T F was born in 1995 . And has ID: 1

In [17]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [18]:
%%writefile Moon.txt
Hello, this is a quick moon test file

Writing Moon.txt

In [19]:
my_file = open('Moon.txt')

In [20]:
my_file.read()

'Hello, this is a quick moon test file\n'

In [21]:
my_file.read()

''

In [22]:
my_file.seek(0)

0

In [23]:
my_file.read()

'Hello, this is a quick moon test file\n'

In [24]:
my_file.seek(0)

0

In [25]:
my_file.readlines()

['Hello, this is a quick moon test file\n']

In [26]:
my_file = open('Moon.txt','w+')

In [27]:
my_file.write('This is a new star')

18

In [28]:
my_file.seek(0)

0

In [29]:
my_file.read()

'This is a new star'

In [30]:
%%writefile tf.txt
First Line
Second Line

Writing tf.txt

In [31]:
for line in open('tf.txt'):
    print(line)

First Line

Second Line

In [32]:
for asdf in open('tf.txt'):
    print(asdf)

First Line

Second Line

In [33]:
from io import StringIO

In [34]:
message = 'This is just a normal string.'

In [35]:
f = StringIO(message)

In [ ]:
f.read()